.bcg1 {
    height: 100%;
    background-image: url("club photo 3.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.form {
    background-color: gray
} 

.btn1 {
    margin: 15px
}