body {
    min-height: 100vh;
}

.bcg1 {
    height: 100vh;
    background-image: url(couple-on-date4.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.form {
    background-color:#b7ada4;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

h6 {
    text-align: center;
}

.btn1 {
    margin: 15px;
    float: left;
}

.btn2 {
    margin: 15px;
    float: right;
}

.click {
    cursor: pointer;
}

.error {
    color: red;
    font-style: italic;
    text-align: center;
}